
<div class="app-container">
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Angular Google Map</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>

  <mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" #drawer>Drawer content</mat-drawer>
    <mat-drawer-content>
      <mat-tab-group mat-align-tabs="center" disableRipple [@.disabled]="true">
        <mat-tab label="Marker"> 
          <ng-template matTabContent>
            <app-marker></app-marker>
          </ng-template>
        </mat-tab>
        <mat-tab label="Polygon">
          <ng-template matTabContent>
            <app-polygon></app-polygon>
          </ng-template>
        </mat-tab>
        <mat-tab label="Line">
          <ng-template matTabContent>
            <app-line></app-line>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </mat-drawer-content>
  </mat-drawer-container>
</div>



<router-outlet></router-outlet>